doctype
html
  head
    link(rel='stylesheet' href='/css/style.css')

  body
    .row.center-xs
      .col-xs-6
        h1 APP ES6
        br
        .row.center-xs
          .col-xs-1
            a(href='#') PT
          .col-xs-1
            a(href='#') EN
          .col-xs-1
            a(href='#') DE

        hr
        .row.center-xs.nav
          .col-xs-2
            a(ui-sref='home') Home
          .col-xs-2
            a(ui-sref='about') About
          .col-xs-2
            a(ui-sref='login.signin') Login
        .page
          div(ui-view)

    script(src='jspm_packages/system.js')
    script(src='config.js')
    script(src='dist/app.min.js')
    // Development environment
    //- script.
      //- System.import('/app/app');
