ng-input(theme='nariko' type='text' label='Name' ng-model='name')
ng-input(theme='nariko' type='text' label='Email' ng-model='email')
ng-input(theme='nariko' type='password' label='Password' ng-model='password')

btn(name='Sign Up' ng-click='signup.signup()')
